rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    
    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }
    
    function isSuperAdmin() {
      return isSignedIn() && getUserData().role == 'super_admin';
    }

    function isAdmin() {
      return isSignedIn() && (getUserData().role == 'admin' || getUserData().role == 'super_admin');
    }
    
    function isDepartment() {
      return isSignedIn() && getUserData().role == 'department';
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow create: if isSuperAdmin() || (isSignedIn() && request.auth.uid == userId && request.resource.data.role == 'citizen');
      allow update: if isSuperAdmin() || (isSignedIn() && request.auth.uid == userId && (!request.resource.data.diff(resource.data).affectedKeys().hasAny(['role', 'departmentName', 'points', 'badges']) || (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['role', 'lastLoginAt', 'updatedAt']) && request.resource.data.role == 'citizen'))); 
      allow delete: if isSuperAdmin();
    }

    match /issues/{issueId} {
      allow read: if true;
      allow create: if isSignedIn();
      allow update: if isSignedIn() && (
        isAdmin() || 
        (isDepartment() && resource.data.assignedTo == getUserData().departmentName && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['status', 'updatedAt'])) ||
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(['verificationCount', 'disputeCount', 'duplicateCount', 'confirmedResolvedCount', 'updatedAt', 'status', 'priorityScore', 'priorityReasons'])
      );
      allow delete: if isAdmin();
    }

    match /verifications/{verificationId} {
      allow read: if true;
      allow create: if isSignedIn();
      allow update, delete: if isAdmin();
    }
    
    match /status_updates/{updateId} {
      allow read: if true;
      allow create: if isSignedIn();
      allow update, delete: if isAdmin();
    }

    match /roleRequests/{requestId} {
      allow read: if isSignedIn() && (resource.data.userId == request.auth.uid || isSuperAdmin());
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid && request.resource.data.status == 'pending';
      allow update, delete: if isSuperAdmin();
    }

    match /audit_logs/{logId} {
      allow read: if isAdmin();
      allow create, update, delete: if false;
    }

    match /notifications/{notifId} {
      allow read: if isSignedIn() && (
        resource.data.recipientId == request.auth.uid || isSuperAdmin()
      );
      allow create: if isSignedIn();
      allow update, delete: if isSuperAdmin();
    }

    match /{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
